NODE_ENV=development
PORT=3000

DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

CHZZK_CLIENT_ID=
CHZZK_CLIENT_SECRET=
CHZZK_REDIRECT_URI=http://localhost:3000/api/auth/chzzk/callback
CHZZK_OPEN_API_BASE_URL=https://openapi.chzzk.naver.com

LICHESS_CLIENT_ID=
LICHESS_REDIRECT_URI=http://localhost:3000/api/auth/lichess/callback

APP_SECRET=
